{% extends "JACableBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block jacable_body %}
    <h3>{{ cable.name }}</h3>
    <p>{{ cable.description }}</p>
{% endblock %}